.caja-destacadas{
    text-align: center;
    border: 2px solid #12408a; /*anchura, estilo y color borde*/
    padding: 20px; /*espacio alrededor texto*/
    background-color: #246468; /*color botón*/
    color: #ffffff; /*color texto*/
    text-decoration:solid; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
   
}