.caja-destacada{
    border: 2px solid #12408a; /*anchura, estilo y color borde*/
    padding: 25px; /*espacio alrededor texto*/
    background-color: #246468; /*color botón*/
    color: #ffffff; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    font-family: 'ROBOTO';    border-radius: 50px; /*bordes redondos*/
    position:relative;
    align-items: center;
    display: flex;
    padding: auto;
    margin-left: 200px;


}