.grid-item{
    border: 1px solid #2e518b; /*anchura, estilo y color borde*/
    text-align: center;
    padding: 50px;
    font-size: medium;
    background:#ffffff;
    background-color: #dcdfe4; /*color botón*/
    font-family: 'codropsicons';    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    position: relative;


}
